@import url(magnific-popup.css);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/_onepage.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/_onepage.scss */
strong {
  font-weight: bold;
}

/* line 23, ../sass/_onepage.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../sass/_onepage.scss */
body {
  font-family: "Cabin", sans-serif;
}

/* line 31, ../sass/_onepage.scss */
img {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

/* line 39, ../sass/_onepage.scss */
header {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  height: 5rem;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
/* line 48, ../sass/_onepage.scss */
header .row {
  height: 100%;
  position: relative;
}
/* line 53, ../sass/_onepage.scss */
header.show-title .header-title {
  transform: translateY(-50%);
}

/* line 59, ../sass/_onepage.scss */
.header-title {
  color: #cccccc;
  font-family: "Gentium Basic", serif;
  font-size: 2.5rem;
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(150%);
  transition: transform 200ms ease-in;
}
@media (max-width: 360px) {
  /* line 59, ../sass/_onepage.scss */
  .header-title {
    font-size: 2rem;
  }
}
@media (max-width: 479px) {
  /* line 72, ../sass/_onepage.scss */
  .header-title span {
    display: none;
  }
}

/* line 79, ../sass/_onepage.scss */
.hero-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 85, ../sass/_onepage.scss */
.hero {
  font-family: "Gentium Basic", serif;
  font-size: 3.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* line 92, ../sass/_onepage.scss */
.subhero {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

/* line 99, ../sass/_onepage.scss */
#main-nav {
  float: right;
  height: 5rem;
  text-transform: uppercase;
}
/* line 107, ../sass/_onepage.scss */
#main-nav li {
  float: left;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 117, ../sass/_onepage.scss */
#main-nav li a {
  color: #cccccc;
  text-decoration: none;
  display: block;
  padding: 2rem;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 360px) {
  /* line 117, ../sass/_onepage.scss */
  #main-nav li a {
    padding: .5rem;
    font-size: .9rem;
  }
}
@media (max-width: 479px) {
  /* line 117, ../sass/_onepage.scss */
  #main-nav li a {
    padding: .75rem;
  }
}
@media (min-width: 480px) {
  /* line 135, ../sass/_onepage.scss */
  #main-nav li:last-child a {
    padding-right: 0;
  }
}

/* line 143, ../sass/_onepage.scss */
main {
  margin-top: 5rem;
}

/* line 147, ../sass/_onepage.scss */
.row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.25rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 154, ../sass/_onepage.scss */
section {
  clear: both;
}

/* line 158, ../sass/_onepage.scss */
section .row {
  min-height: 500px;
  padding: 5rem 1.25rem;
}
/* line 161, ../sass/_onepage.scss */
section .row hr {
  clear: both;
  border: none;
  padding-top: 5rem;
  border-bottom: 1px solid lightgrey;
  margin: 0 0 5rem;
}

/* line 170, ../sass/_onepage.scss */
#start {
  background: url(../images/cover_webprism.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
}
/* line 174, ../sass/_onepage.scss */
#start .row {
  height: 31.25rem;
}

/* line 179, ../sass/_onepage.scss */
#work {
  color: rgba(0, 0, 0, 0.5);
}
/* line 182, ../sass/_onepage.scss */
#work img.center {
  display: block;
  max-width: 600px;
  margin: 0 auto 1rem auto;
}
@media (max-width: 479px) {
  /* line 181, ../sass/_onepage.scss */
  #work img {
    margin-bottom: 1rem;
  }
}
@media (min-width: 480px) {
  /* line 191, ../sass/_onepage.scss */
  #work img.right {
    width: 55%;
    padding: 0 1rem 0 0;
    float: left;
    transform: perspective(700px) rotateY(25deg) translateX(15px);
  }
  /* line 197, ../sass/_onepage.scss */
  #work img.left {
    width: 55%;
    float: right;
    padding: 0 0 0 1rem;
    transform: perspective(700px) rotateY(-25deg) translateX(-15px);
  }
}

/* line 207, ../sass/_onepage.scss */
.sample {
  background: url(../images/sample-lg.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@media (min-width: 480px) {
  /* line 214, ../sass/_onepage.scss */
  .work-blurb.right {
    width: 45%;
    padding: 0 0 0 1rem;
    float: left;
  }
  /* line 219, ../sass/_onepage.scss */
  .work-blurb.left {
    width: 45%;
    float: right;
    padding: 0 1rem 0 0;
  }
}
/* line 225, ../sass/_onepage.scss */
.work-blurb h2 {
  font-family: "Gentium Basic", serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
/* line 231, ../sass/_onepage.scss */
.work-blurb p {
  line-height: 1.4;
}

/* line 236, ../sass/_onepage.scss */
.sample-caption {
  max-width: 600px;
  margin: 1rem auto 6rem auto;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}

/* line 244, ../sass/_onepage.scss */
.pipe {
  font-size: .8rem;
  position: relative;
  top: -1px;
}

/* line 250, ../sass/_onepage.scss */
#contact {
  color: whitesmoke;
}
/* line 251, ../sass/_onepage.scss */
#contact .row {
  padding-top: 0;
}
/* line 255, ../sass/_onepage.scss */
#contact h2 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
/* line 262, ../sass/_onepage.scss */
#contact input[type="text"],
#contact textarea {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  padding: .5rem;
}
/* line 270, ../sass/_onepage.scss */
#contact textarea {
  height: 6rem;
}
/* line 273, ../sass/_onepage.scss */
#contact input[type="submit"] {
  background-color: cornflowerblue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  display: block;
  border: none;
  box-shadow: none;
  min-width: 100px;
  padding: .5rem 1.5rem;
  margin: 0 auto;
}
