@import url(magnific-popup.css);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/_onepage.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_onepage.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 18, ../sass/_onepage.scss */
body {
  font-family: 'Cabin', sans-serif;
}

/* line 22, ../sass/_onepage.scss */
img {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

/* line 30, ../sass/_onepage.scss */
header {
  background-color: black;
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  z-index: 10;
}
/* line 37, ../sass/_onepage.scss */
header .row {
  height: 100%;
}
/* line 40, ../sass/_onepage.scss */
header h1 {
  font-size: 1.5rem;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 49, ../sass/_onepage.scss */
.hero-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 55, ../sass/_onepage.scss */
.hero {
  font-family: 'Gentium Basic', sans-serif;
  font-size: 3.25rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* line 65, ../sass/_onepage.scss */
.subhero {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

/* line 72, ../sass/_onepage.scss */
#main-nav {
  float: right;
  height: 5rem;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  /* line 72, ../sass/_onepage.scss */
  #main-nav {
    float: none;
    text-align: center;
  }
}
/* line 80, ../sass/_onepage.scss */
#main-nav li {
  float: left;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 479px) {
  /* line 80, ../sass/_onepage.scss */
  #main-nav li {
    display: inline-block;
    float: none;
  }
}
/* line 90, ../sass/_onepage.scss */
#main-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 2rem;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 479px) {
  /* line 90, ../sass/_onepage.scss */
  #main-nav li a {
    padding: 1rem;
  }
}
@media (min-width: 480px) {
  /* line 104, ../sass/_onepage.scss */
  #main-nav li:last-child a {
    padding-right: 0;
  }
}

/* line 112, ../sass/_onepage.scss */
main {
  margin-top: 5rem;
}

/* line 116, ../sass/_onepage.scss */
.row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.25rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 123, ../sass/_onepage.scss */
section {
  clear: both;
}

/* line 127, ../sass/_onepage.scss */
section .row {
  min-height: 500px;
  padding: 5rem 1.25rem;
}
/* line 130, ../sass/_onepage.scss */
section .row hr {
  clear: both;
  border: none;
  padding-top: 5rem;
  border-bottom: 1px solid lightgrey;
  margin: 0 0 5rem;
}

/* line 139, ../sass/_onepage.scss */
#start {
  background-color: #222;
  color: white;
}
/* line 142, ../sass/_onepage.scss */
#start .row {
  height: 31.25rem;
}

/* line 147, ../sass/_onepage.scss */
#work {
  color: #566364;
}
/* line 150, ../sass/_onepage.scss */
#work img.center {
  display: block;
  max-width: 600px;
  margin: 0 auto 1rem auto;
}
@media (max-width: 479px) {
  /* line 149, ../sass/_onepage.scss */
  #work img {
    margin-bottom: 1rem;
  }
}
@media (min-width: 480px) {
  /* line 159, ../sass/_onepage.scss */
  #work img.right {
    width: 55%;
    padding: 0 1rem 0 0;
    float: left;
    transform: perspective(700px) rotateY(25deg) translateX(15px);
  }
  /* line 165, ../sass/_onepage.scss */
  #work img.left {
    width: 55%;
    float: right;
    padding: 0 0 0 1rem;
    transform: perspective(700px) rotateY(-25deg) translateX(-15px);
  }
}

@media (min-width: 480px) {
  /* line 177, ../sass/_onepage.scss */
  .work-blurb.right {
    width: 45%;
    padding: 0 0 0 1rem;
    float: left;
  }
  /* line 182, ../sass/_onepage.scss */
  .work-blurb.left {
    width: 45%;
    float: right;
    padding: 0 1rem 0 0;
  }
}
/* line 188, ../sass/_onepage.scss */
.work-blurb h2 {
  font-family: 'Gentium Basic', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
/* line 194, ../sass/_onepage.scss */
.work-blurb p {
  line-height: 1.4;
}

/* line 199, ../sass/_onepage.scss */
#contact {
  background-color: #222;
  color: whitesmoke;
}
/* line 202, ../sass/_onepage.scss */
#contact h2 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
/* line 209, ../sass/_onepage.scss */
#contact input[type="text"],
#contact textarea {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  padding: .5rem;
}
/* line 217, ../sass/_onepage.scss */
#contact textarea {
  height: 6rem;
}
/* line 220, ../sass/_onepage.scss */
#contact input[type="submit"] {
  background-color: cornflowerblue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  display: block;
  border: none;
  box-shadow: none;
  min-width: 100px;
  padding: .5rem 1.5rem;
  margin: 0 auto;
}
