@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* line 5, ../sass/wufoo.scss */
.wufoo {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
}
/* line 9, ../sass/wufoo.scss */
.wufoo * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, ../sass/wufoo.scss */
.wufoo li {
  padding: 0;
}
/* line 17, ../sass/wufoo.scss */
.wufoo .info h2 {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
}
/* line 24, ../sass/wufoo.scss */
.wufoo label.desc {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
/* line 31, ../sass/wufoo.scss */
.wufoo input[type="text"],
.wufoo input[type="email"],
.wufoo textarea,
.wufoo textarea.textarea {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  max-width: 300px;
  min-width: 0;
  margin: 0 auto 1rem auto;
  padding: .5rem;
}
/* line 44, ../sass/wufoo.scss */
.wufoo textarea {
  height: 6rem;
}
/* line 47, ../sass/wufoo.scss */
.wufoo input[type="submit"] {
  background-color: #415f93;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  display: block;
  border: none;
  box-shadow: none;
  min-width: 100px;
  padding: .5rem 1.5rem;
  margin: 0 auto;
}
/* line 62, ../sass/wufoo.scss */
.wufoo .buttons a {
  float: right;
}

/* line 70, ../sass/wufoo.scss */
#errorLi {
  -webkit-border-radius: 0;
  border-radius: 0;
  max-width: 300px;
  border-color: #9D3434 !important;
}

/* line 78, ../sass/wufoo.scss */
#errorMsg b {
  color: #9D3434 !important;
}

/* line 83, ../sass/wufoo.scss */
#errorMsgLbl {
  color: #9D3434 !important;
  margin-bottom: 10px;
}

/* line 89, ../sass/wufoo.scss */
form p.error {
  color: #9D3434 !important;
}
/* line 92, ../sass/wufoo.scss */
form li.error {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}
/* line 96, ../sass/wufoo.scss */
form li.error .desc {
  color: #9D3434 !important;
}
