//TODO - convert nav-height to rem-height mixin

$nav-height: 5rem;

$micro: 320px;
$micro-only: max-width ($micro - 1);
$small: 480px;
$small-only: max-width ($small - 1);

$serif: 'Gentium Basic', serif;
$sans-serif: 'Cabin', sans-serif;

$whiteish: darken(#fff, 20%);
$grayish: rgba(0, 0, 0, 0.5);
$blueish: #415f93;

* {
  @include box-sizing(border-box);
}

strong {
  font-weight: bold;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans-serif;
}

a {
  color: $blueish;
  text-decoration: none;
  &:hover, &:focus {
    color: darken($blueish, 20%);
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

header {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  height: $nav-height;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  .row {
    height: 100%;
    position: relative;
  }
  &.show-title {
    .header-title {
      transform: translateY(-50%);
    }
  }
}

.header-title {
  color: $whiteish;
  font-family: $serif;
  font-size: 2.5rem;
  @include breakpoint(max-width 360px) {
    font-size: 2rem;
  }
  // text-transform: uppercase;
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(150%);
  transition: transform 200ms ease-in;
  span {
    @include breakpoint($small-only) {
      display: none;
    }
  }
}

.hero-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero {
  font-family: $serif;
  font-size: 3.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

.subhero {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
}

#main-nav {
  float: right;
  height: $nav-height;
  text-transform: uppercase;
  li {
    float: left;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    a {
      color: $whiteish;
      text-decoration: none;
      display: block;
      @include breakpoint(max-width 360px) {
        padding: .5rem;
        font-size: .9rem;
      }
      @include breakpoint($small-only) {
        padding: .75rem;
      }
      padding: 2rem;
      position: relative;
      top: 50%;
      @include translateY(-50%);
    }
    @include breakpoint($small) {
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }
}

main {
  margin-top: $nav-height;
}

.row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.25rem;
  @include box-sizing(border-box);
}

section {
  clear: both;
}

section .row {
  min-height: 500px;
  padding: 5rem 1.25rem;
  hr {
    clear: both;
    border: none;
    padding-top: 5rem;
    border-bottom: 1px solid lightgrey;
    margin: 0 0 5rem;
  }
}

.section-title {
  @extend .subhero;
  color: $grayish;
  margin: 0 auto;
}

#start {
  background: url(../images/cover_webprism.jpg) no-repeat center center;
  @include background-size(cover);
  color: white;
  .row {
    height: 31.25rem;
  }
}

#work {
  color: $grayish;
  .work-lead {
    font-size: 1.5rem;
    line-height: 1.3;
    max-width: 700px;
    margin: 2rem auto 4rem;
    text-align: center;
  }
  img {
    &.center {
      display: block;
      max-width: 600px;
      margin: 0 auto 1rem auto;
    }
    @include breakpoint($small-only) {
      margin-bottom: 1rem;
    }
    @include breakpoint($small) {
      &.right {
        width: 55%;
        padding: 0 1rem 0 0;
        float: left;
        transform: perspective(700px) rotateY(25deg) translateX(15px);
      }
      &.left {
        width: 55%;
        float: right;
        padding: 0 0 0 1rem;
        transform: perspective(700px) rotateY(-25deg) translateX(-15px);
      }
    }
  }
}

.sample {
  background: url(../images/sample-lg.jpg) no-repeat center center;
  @include background-size(cover);
}

.work-blurb {
  @include breakpoint($small) {
    &.right {
      width: 45%;
      padding: 0 0 0 1rem;
      float: left;
    }
    &.left {
      width: 45%;
      float: right;
      padding: 0 1rem 0 0;
    }
  }
  h2 {
    font-family: $serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.4;
  }
}

.sample-caption {
  max-width: 600px;
  margin: 1rem auto 6rem auto;
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}

.pipe {
  font-size: .8rem;
  position: relative;
  top: -1px; 
}

#contact {
  .row {
    padding-top: 0;
  }
  color: $grayish;
  h2 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    padding: .5rem;
  }
  textarea {
    height: 6rem;
  }
  input[type="submit"] {
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-family: $sans-serif;
    text-transform: uppercase;
    display: block;
    border: none;
    box-shadow: none;
    min-width: 100px;
    padding: .5rem 1.5rem;
    margin: 0 auto;
  }
}